.NavbarItems {
    background: linear-gradient( 90deg, rgba(100,100,100, 0.1) 0%, rgba(70, 60,150, 1));
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo{
    color: #ffff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.menu-bar{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    list-style: none;
    justify-content: end;
    text-align: center;
    width: 70vh;
    margin-right: 2em;
}
.nav-link{
    text-decoration: none;
    color: #ffff;
    padding: 0.5rem 1rem;
}
.nav-link:hover{
    background-color: #6d76f7;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}
.nav-link-mobile{
    display: none;
}
.menu-icon{
    display: none;
}